
div {

}


* {
  box-sizing: border-box;
}
.main-container {
  display:flex;
  height:100vh;
}
.left-navigation {
  width:35%;
  background-color: white;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow:column;
  border:
}
.main-image {
  width:65%;
  background: url(../images/laptop-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.transparent-title {
  height:20%;
  width:80%;
  background-color: #545454;
  border: 3px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color:white;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
}
.transparent-title h1 {
  font-size:4.5rem;
}

.circle {
  border-radius:50%;
  border:3px solid #545454;
  height:10rem;
  width:10rem;
}
