
div {

}


#location-header, #location-map{
  display:none;
}

* {
  box-sizing: border-box;
}
.main-container {
  display:flex;
  height:100vh;
}
.left-navigation {
  width:35%;
  background-color: white;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow:column;
  border:
}
.main-image {
  width:65%;
  background: url(../images/laptop-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
}
.transparent-title {
  height:20%;
  width:80%;
  background-color: #545454;
  border: 3px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color:white;
  font-family: 'Oswald', sans-serif;
  text-shadow: 3px 3px black;
  box-shadow:3px 3px 3px #545454;

}
.transparent-title h1 {
  font-size:4.5rem;
}
.transparent-title h2 {
  font-size:2rem;
  font-family: 'Taviraj', serif;
  text-shadow:none;
}

.circle {
  border-radius:50%;
  border:3px solid black;
  background-color:;
  height:10rem;
  width:10rem;
  display:flex;
  justify-content:center;
  align-items:center;
}

.circle:hover {
  cursor:pointer;
}
.left-navigation div h2 {
  font-size: 2.5rem;
}

#circles-for-nav {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  text-align:center;
}

#circles-for-nav div {
  padding: 1rem;
}
#circles-for-nav h2 {
  color:black;
  font-family: 'Taviraj', serif;
}

.circle-image {
  width:80%;
  height:80%;
}
.project-image-container {
  width:30%;
  height:30%;
  border:3px solid white;
  display:none;
}

#about-me-project {
  background: url(../images/about-me-screenshot.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#karma-landing-project {
  background: url(../images/karma-screenshot.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#location-map {
  width:60%;
  height:40%;
  border:3px solid black;
}
.transparent-title h3 {
  font-size:3.5rem;
  text-shadow: none;
  color:black;
  font-family: 'Taviraj', serif;

}
#location-header {
  background-color: white;
}
